.error-card {
  margin: 20px auto;
  padding-bottom: 25px;
  height: 200px;
  max-width: 500px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: block;
  text-align: center;
  padding: 50px 0 0 0;

  .details-title {
    font-size: 18px;
  }
}

// .about-info {
//   display: block;
//   text-align: center;
//   padding: 50px 0 0 0;
// }
