<div class="navbar-container">
  <nav class="navbar-header">
    <div>
      <a routerLink="/home" routerLinkActive="active-link" mat-button class="home">
        <span class="home-text">&#8828;car-home&#8829;</span>
        <img src="assets/images/car.png" alt="home" class="home-icon">
        <span class="home-text">&#8828;/car-home&#8829;</span>
      </a>

      <a routerLink="/details" routerLinkActive="active-link" mat-button fxShow="false" fxShow.gt-sm>About</a>
    </div>

    <div class="flex-spacer"></div>

    <button mat-button [mat-menu-trigger-for]="navMenu" fxHide="false" fxHide.gt-sm>Menu</button>

    <div>
      <span fxShow="false" fxShow.gt-sm>
        <span class="color-preview" [style.backgroundColor]="'white'" (click)="changeTheme('light')"></span>
        <span class="color-preview" [style.backgroundColor]="'#303030'" (click)="changeTheme('dark')"></span>
        <span mat-button class="user-name text-bold" *ngIf="isLoggedIn">Welcome {{ userType }}</span>

        <a routerLink="/login" routerLinkActive="active-link" mat-button *ngIf="!isLoggedIn">Login</a>
        <a routerLink="/login" class="logout" routerLinkActive="active-link" mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</a>
      </span>
    </div>
  </nav>
</div>

<mat-menu x-position="before" #navMenu="matMenu" class="navbar-container nav-menu mat-typography">
  <span class="color-preview" [style.backgroundColor]="'white'" (click)="changeTheme('light')"></span>
  <span class="color-preview" [style.backgroundColor]="'#303030'" (click)="changeTheme('dark')"></span>
  <span mat-button class="user-name text-bold" *ngIf="isLoggedIn">Welcome {{ userType }}</span>

  <a routerLink="/details" routerLinkActive="active-link" mat-menu-item>About</a>

  <a routerLink="/login" routerLinkActive="active-link" mat-menu-item *ngIf="!isLoggedIn">Login</a>
  <a routerLink="/login" class="logout" routerLinkActive="active-link" mat-menu-item *ngIf="isLoggedIn" (click)="logout()">Logout</a>
</mat-menu>
