@import '../../styles/global/colors';

.navbar-container {
  color: $white;
  box-shadow: $navbar_shadow;

  .navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background: $primary_blue;
  }

  .logout {
    background: $purple;
  }

  .user-name {
    text-transform: capitalize;
    margin: 0 12px 0 8px;
  }

  .home {
    padding: 0 12px;

    .home-text {
      font-size: 12px;
    }

    .home-icon {
      height: 30px;
      margin: 0 5px;
    }
  }

  .active-link {
    background: $gold;
    color: $brown;
  }

  .color-preview {
    cursor: pointer;
  }

  &.nav-menu {
    color: $black;
    background: $white;

    .active-link, .logout {
      background: initial;
      color: $black;
    }
  }
}

.dark {
  .navbar-header {
    background: $primary_pink;
  }

  .logout {
    background: $pink;
  }

  .active-link {
    background: $pink;
    color: $white;
  }

  .nav-menu {
    color: $white;
    background: $dark;

    a {
      color: $white;
    }

    .active-link, .logout {
      color: $white;
    }
  }
}
