<div class="navbar-container">
  <nav class="navbar-header">
    <a routerLink="/home" routerLinkActive="active-link" mat-button class="home">
      <span class="home-text">&#8828;car-home&#8829;</span>
      <img src="../../../assets/images/car.png" alt="home" class="home-icon">
      <span class="home-text">&#8828;/car-home&#8829;</span>
    </a>
    <a routerLink="/details" routerLinkActive="active-link" mat-button>About</a>
    <a routerLink="/login" routerLinkActive="active-link" mat-button>Login</a>
  </nav>
</div>
