.navbar-container {
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;

  .navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background: #3f51b5;
  }

  .logout {
    background: #673ab7;
  }

  .user-name {
    text-transform: capitalize;
    margin: 0 12px 0 8px;
  }

  .home {
    padding: 0 12px;

    .home-text {
      font-size: 12px;
    }

    .home-icon {
      height: 30px;
      margin: 0 5px;
    }
  }

  .active-link {
    background: #ffd740;
    color: brown;
  }

  .color-preview {
    cursor: pointer;
  }
}

.dark {
  .navbar-header {
    background: #e91e63;
  }
  .logout {
    background: #ff4081;
  }
  .active-link {
    background: #ff4e8a;
    color: white;
  }
}
