.filter {
  display: flex;
  flex: 4;

  .full-width {
    width: 70%;
  }

  .button-container {
    width: 30%;
    text-align: left;

    button {
      margin: 0 5px 0;
    }
  }
}

@media only screen and (min-width: 767px) {
  .filter {
    display: block;
    position: sticky;
    top: 80px;

    .full-width {
      width: 100%;
    }

    .button-container {
      width: 100%;
      text-align: left;
    }
  }
}
