.filter {
  display: flex;
  flex: 4;
  font-size: 0.85714em;

  .search-box {
    margin: 0;
  }

  .filter-content {
    max-height: 75vh;
    overflow: auto;
    padding: 0 16px 0 0;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,.26);
    }
  }

  .full-width {
    width: 70%;
  }

  .filter-checkbox {
    display: block;
    margin: 8px 0;
  }

  .filter-category {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);

    .color-preview {
      border: none;
      border-radius: 4px;
      width: 60px;
      margin: 0 0 -2px 10px;
    }
  }

  .button-container {
    width: 30%;
    text-align: left;
    margin: 20px 0 0;

    button {
      margin: 0 5px 0;
    }
  }
}

@media only screen and (min-width: 767px) {
  .filter {
    display: block;
    position: sticky;
    top: 80px;

    .full-width {
      width: 100%;
    }

    .button-container {
      width: 100%;
      text-align: left;
    }
  }
}

.dark {
  .filter {
    color: #fff;
    background: #424242;
    padding: 10px 0 10px 16px;
    margin: 0;
    border-radius: 4px;
    display: block;
    position: sticky;
    top: 80px;
  }
}
