.car-details-card {
  background: rgba(63,81,181,.15);
  margin: 8px;
  padding-bottom: 25px;

  .details-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

  .details-list-item {
    height: 40px;
    font-size: 14px;
  }

  .car-image {
    background-size: cover;
    height: 25vh;
    width: 100%;
    margin: 12px 0 0px;
  }

  .standalone {
    height: 50vh;
    background-position: 0;
  }

  .button-container {
    button {
      margin: 0 8px 0 0;

      &:first-child {
        margin: 0 8px 0 0;
      }
    }
  }
}


.dark {
  .car-details-card {
    background: #fff;
  }
}
