<div class="car-list-container" *ngIf="isDataLoaded; else loader">
  <div class="car-filter">
    <app-filter-cars
      [allCars]="carsList"
      [liveSearch]="isLiveSearchActive"
      [uniqueSpecs]="uniqueSpecs"
      (filterCars)="onCarsFiltered($event)"></app-filter-cars>
  </div>

  <div class="car-list">
    <app-car-details
      class="car-details"
      *ngFor="let car of filteredCarsList; let i=index"
      [car]="car"
      [uniqueSpecs]="uniqueSpecs"
      [isAdmin]="isAdmin"
      (removed)="onCarRemove($event)"
      (detailsEdit)="onCarDetailsEdit($event)"></app-car-details>
    <div class="clear-both"></div>

    <app-error *ngIf="!filteredCarsList?.length"></app-error>

    <div class="button-container">
      <button
        mat-fab
        color="primary"
        *ngIf="isAdmin"
        type="button"
        class="text-bold"
        (click)="openCarAddDialog()">&#43;</button>
    </div>
  </div>
  <button
    mat-fab
    color="accent"
    type="button"
    class="goto-top-button text-bold"
    *ngIf="isDataLoaded"
    (click)="goToTop()">&#9757;</button>
</div>

<ng-template #loader>
  <div class="loader">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>

