<div class="car-list-container">
  <div class="car-filter">
    <app-filter-cars [allCars]="carsList" (filterCars)="onCarsFiltered($event)"></app-filter-cars>
  </div>

  <div class="car-list">
    <app-car-details
      class="car-details"
      *ngFor="let car of filteredCarsList; let i=index"
      [car]="car"
      [carIndex]="i"
      (removed)="onCarRemove($event)"
      (detailsEdit)="onCarDetailsEdit($event)"></app-car-details>
    <div class="clear-both"></div>

    <app-error *ngIf="!filteredCarsList.length"></app-error>

    <div class="button-container">
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="openCarAddDialog()">Add New</button>
    </div>
  </div>
</div>
