@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
}

.app-container {
  padding: 52px 16px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  margin: 0 0 10px;
}

.button-container {
  text-align: center;
}

.clear-both {
  clear: both;
}

.text-bold {
  font-weight: bold;
}

.no-data {
  text-align: center;
  color: red;
  border: 1px dotted red;
  font-size: 18px;
}

.color-preview {
  display: inline-block;
  border: 1px dotted black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0 5px;
}
