// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;

  &.dark {
    background: #303030;
  }

  &.login-page {
    background: url('https://www.tesla.com/ns_videos/homepage/homepage-models.jpg?02018018018') 0 0;
  }
}

.app-container {
  padding: 52px 16px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  margin: 0 0 10px;
}

.button-container {
  text-align: center;
}

.clear-both {
  clear: both;
}

.text-bold {
  font-weight: bold;
}

.error-text {
  color: red;
}

.text-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.goto-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.no-data {
  text-align: center;
  color: red;
  border: 1px dotted red;
  font-size: 18px;
}

.color-preview {
  display: inline-block;
  border: 1px dotted black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0 5px;
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -52px 0 0 -16px;
}

.flex-spacer {
  flex-grow: 1;
}
