<form
  action=""
  class="car-details-form"
  [formGroup]="carDetailsForm"
  (submit)="updateData()"
  *ngIf="!carData?.remove; else deleteModal">
  <h3 mat-dialog-title>
    {{ carData.car ? 'Edit' : 'Add'}} details for {{ carData.car ? carData.car.brand + ' ' + carData.car.model : 'New Car'}}
  </h3>
  <div mat-dialog-content>
    <mat-form-field class="full-width" *ngIf="!carData.car">
      <input type="text" matInput placeholder="Car Brand" (blur)="onInputBlur(brand)" formControlName="brand"/>
      <mat-error>{{ getErrorMsg(brand.errors) }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" *ngIf="!carData.car">
      <input type="text" matInput placeholder="Model" (blur)="onInputBlur(model)" formControlName="model"/>
      <mat-error>{{ getErrorMsg(model.errors) }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" matInput placeholder="Year" formControlName="year" />
      <mat-error>{{ getErrorMsg(year.errors) }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="Type" formControlName="type">
        <mat-option [value]="type" *ngFor="let type of carType">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" matInput placeholder="Engine Capacity" formControlName="engineCapacity" />
      <mat-error>{{ getErrorMsg(engineCapacity.errors) }}</mat-error>
    </mat-form-field>

    <div *ngFor="let colorField of colors.controls; let i = index; let last = last;">
      <mat-form-field
        formArrayName="colors"
        class="full-width dynamic-field">
        <input type="text" matInput placeholder="Color" [formControlName]="i"/>
        <span
          class="color-preview"
          [style.backgroundColor]="colorField.value"></span>
      </mat-form-field>
      <button
        mat-mini-fab
        color="warn"
        class="text-bold"
        (click)="removeColor(i)"
        *ngIf="i < colors.controls.length - 1; else addColorButton"
        type="button">&#8211;</button>
      </div>
      <ng-template #addColorButton>
        <button
          mat-mini-fab
          color="accent"
          class="text-bold"
          (click)="addColor()"
          type="button">&#43;</button>
      </ng-template>

    <mat-form-field class="full-width">
      <mat-select placeholder="Transmission" formControlName="transmission">
        <mat-option [value]="transmission" *ngFor="let transmission of transmissionType">{{ transmission }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="button-container" mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="this.carDetailsForm.invalid">{{ carData.car ? 'Done' : 'Add' }}</button>
    <button mat-raised-button color="warn" type="button" (click)="resetData()">Reset</button>
    <button mat-button color="accent" type="button" (click)="resetData('fillDefault')" *ngIf="!carData.car">Autofill</button>
  </div>
</form>

<ng-template #deleteModal>
  <h1 mat-dialog-title>Are you sure?</h1>
  <div>
    <button mat-button color="primary" (click)="onNoClick(true)">Yes</button>
    <button mat-button color="warn" (click)="onNoClick(false)">No</button>
  </div>
</ng-template>

<!-- note: mat-dialog-content is required to make modal scrollable -->
